<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
  </configSections>

  <appSettings>
    <add key="ResourceDefinesExtension" value="True" />
    <add key="ConnectionTimeout" value="10" />
    <add key="HomeUrl" value="gopher://gopher.kashifshah.net/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>